// import de variables
@import "../utilidades/variables";
// import de mixin
@import  "../utilidades/mixin";
.encontrar {
    padding-top: 6rem;
    margin-bottom: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: $color-main;
    text-shadow: #000000 10px 10px 6px;
    box-sizing: border-box;
    position: relative;
}

.Au {
    width: 90%;
    color: $color-main;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
    font-size: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    margin-left: 1rem;
    margin-bottom: 2rem;
    position: relative;

    h3 {
        font-size: 16px;
    }
}